:root {
    --color-primary:  #006CB7;
    --color-secondary: #022165;
    --color-accent: #F7991c;
    --color-transparent: #f5f5f5d3;

    --color-grey: #32353a93;
    --color-white: #f5f5f5;
    --color-positive: #039b26;
    --color-negative: #C10015;
    --color-dark: #131313;

    --color-none: rgb(255, 255, 255, 0);
}
@font-face {
    font-family: montserrat;
    src: url(../../public/fonts/Montserrat.ttf);
}
body {
    padding: 0;
    margin: 0;
    font-family: montserrat;
}

button {
    cursor: pointer;
    padding: 0.6rem;
    border-radius: 8px;
    border: 0px;
    font-weight: 600;
    font-size: medium;
    background-color: var(--color-primary);
    color: var(--color-white);
}

h3 {
    font-size: xx-large;
}

h5 {
    font-size: large;
    font-weight: 500;
}